<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.mapper.BookMapper">
    <resultMap id="AllBooks" type="Book">
        <id property="id" column="id"/>
       <result property="name" column="name"/>
        <result property="publisher" column="publisher"/>
        <result property="pubDate" column="pubDate"/>
        <result property="price" column="price"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="category.name" column="ec_name"/>
    </resultMap>
    <select id="findAllBooks" resultMap="AllBooks">
        select eb.*,ec.name ec_name
        from es_book eb left join es_category ec on ec.id=eb.id
    </select>
    <resultMap id="BookInfo" type="Book">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="publisher" column="publisher"/>
        <result property="pubDate" column="pubDate"/>
        <result property="price" column="price"/>
        <result property="author" column="author"/>
        <result property="description" column="description"/>
        <result property="image" column="image"/>
        <result property="category.name" column="ec_name"/>
    </resultMap>

    <select id="findBookById" resultMap="BookInfo">
        select eb.*,ec.name ec_name
        from es_book eb left join es_category ec on ec.id=eb.id
        where eb.id=#{id}
    </select>
</mapper>