<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.mapper.CategoryMapper">
    <resultMap id="Category" type="Category">
        <id column="p_id" property="id"/>
        <result column="p_name" property="name"/>
        <result  property="description" column="p_desc"/>
        <collection property="categories" resultMap="childResult" />
    </resultMap>
    <resultMap id="childResult" type="Category">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
    </resultMap>
    <select id="findAllCategorys"  parameterType="Category" resultMap="Category">
        SELECT ec.parent_id p_id,
               ec.NAME p_name,ec.DESCRIPTION p_desc,ec2.*
        FROM
            ES_CATEGORY ec,
            ES_CATEGORY ec2
        WHERE
            ec.parent_id = ec2.PARENT_ID
    </select>
</mapper>